{% fetchxml fetch_query %}
	<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
  	<entity name="contact">
  		<attribute name="contactid" />
  		<attribute name="fco_languagetrainingstatus" />
  		<attribute name="fco_visaguidancestatus" />
			<attribute name="fco_baggageguidancestatus" />
			<attribute name="fco_carloanguidancestatus" />
  		<filter type="and">
  			<condition attribute="contactid" operator="eq" uitype="contact" value="{{user.id}}" />
  			<condition attribute="statecode" operator="eq" value="0" />
  		</filter>
  		<link-entity name="fco_journey" from="fco_journeyid" to="fco_currentjourney" visible="false" link-type="outer" alias="j">
  			<attribute name="statuscode" />
  			<attribute name="fco_familyclearancestatus" />
  			<attribute name="fco_securitytrainingstatus" />
  			<attribute name="fco_journeytype" />
  		</link-entity>
  		<link-entity name="fco_medicalanddentalrequirement" from="fco_medicalanddentalrequirementid" to="fco_medicalanddental" visible="false" link-type="outer" alias="m">
  			<attribute name="fco_medicalstatus" />
  			<attribute name="fco_dentalstatus" />
  		</link-entity>
  		<link-entity name="fco_passportprocess" from="fco_passportprocessid" to="fco_passportprocess" visible="false" link-type="outer" alias="pp">
  			<attribute name="fco_applicationstatus" />
  		</link-entity>
  		<link-entity name="fco_possessionsmove" from="fco_possessionsmoveid" to="fco_possessionmove" visible="false" link-type="outer" alias="p">
  			<attribute name="fco_uafstatus" />
  			<attribute name="fco_storagestatus" />
  		</link-entity>
  		<link-entity name="fco_travelandfinancial" from="fco_travelandfinancialid" to="fco_travelandfinancial" visible="false" link-type="outer" alias="tf">
  			<attribute name="fco_uafstatus" />
  			<attribute name="fco_travelpackagestatus" />
  			<attribute name="fco_transfergrantstatus" />
  			<attribute name="statuscode" />
  			<attribute name="fco_advanceofloanstatus" />
  			<attribute name="fco_tpcccancellationstatus" />
  		</link-entity>
  	</entity>
  </fetch>
{% endfetchxml %}
{% assign contact_record = fetch_query.results.entities[0] %}

<!-- Get all Task List links 
{% if contact_record["j.fco_journeytype"].label == "Return to the UK" %}
  {% assign links = weblinks["Task List Links - Return to the UK"] %}
  
{% elsif contact_record["j.fco_journeytype"].label == "Cross-posting" %}
  {% assign links = weblinks["Task List Links - Cross-posting"] %}
  
{% else %}
  {% assign links = weblinks["Task List Links"] %}
  
{% endif %}
-->

<!-- Get all sidebar links -->
{% assign sidebar = weblinks["Task List Sidebar"] %}

<main id="content" role="main">
	<div class="page-heading">
	  <div class="column-two-thirds">
  		{% editable snippets "Task List/Title" %}
  		
  		{% if contact_record["j.fco_journeytype"].label != "Return to the UK" %}
    		{% if contact_record["j.statuscode"].label == "Cleared to travel" %}	
      		<div class="cleared-to-travel" style="padding-top: 10px;padding-bottom: 10px;padding-left: 15px;padding-right: 15px;margin-bottom: 10px">
      			<ul>				
      			  {% editable snippets "Task list/Clearance to Travel/Cleared Status" type:"html" %}
      			</ul>
      		</div>
  				{% include "Task List - Family Medical Clearance" family_status: contact_record["j.fco_familyclearancestatus"].label %}
      	{% else %}
      	  <div class="not-cleared-to-travel" style="padding-top: 10px;padding-bottom: 10px;padding-left: 15px;padding-right: 15px;">
      			<ul>				
              {% editable snippets "Task list/Clearance to Travel/Status" type:"html" %}
      			  {% if contact_record["j.fco_securitytrainingstatus"].label == null %}
      			    <li>
        				  {% editable snippets "Task list/Clearance to Travel/Safe" type:"text" %}
        				  <strong class="task-completed not-started" id="safe-not-started">{% editable snippets "Status/Not Started" type:"text" %}</strong>
        				</li>
      			  {% else %}
        				<li>
        				  {% editable snippets "Task list/Clearance to Travel/Safe" type:"text" %}
        				  <strong class="task-completed pending-clearance" id="safe-completed">{{ contact_record["j.fco_securitytrainingstatus"].label }}</strong>
        				</li>
        			{% endif %}
  						
  						{% if contact_record["m.fco_medicalstatus"].label == null %}
  							<li style="padding-top: 5px; padding-bottom: 5px;">
        				  {% editable snippets "Task list/Clearance to Travel/Medical" type:"text" %}
        				  <strong class="task-completed not-started" id="safe-not-started">{% editable snippets "Status/Not Started" type:"text" %}</strong>
        				</li>
  						{% else %}
  							<li style="padding-top: 5px; padding-bottom: 5px;">
  								{% editable snippets "Task list/Clearance to Travel/Medical" type:"text" %}
  								<strong class="task-completed pending-clearance" id="medical-completed">{{ contact_record["m.fco_medicalstatus"].label }}</strong>
  							</li>
  						{% endif %}
      			</ul>
      		</div>
    		{% endif %}
  		{% endif %}
  		
  		<ol class="task-list">
  			<!-- List "title" links (i.e. those with no parent, in display order -->
  			
  			{% for link in links.weblinks %}
  				<li>
  					<h2 class="task-list-section">
  						<span class="task-list-section-number">{{ link["adx_displayorder"] }}. </span> {{ link.name }}
  					</h2>
  					<ul class="task-list-items">
  						
  						<!-- Put a link for each child link -->
  						{% for child_link in link.weblinks %}
  							<li class="task-list-item">
  							  {% assign status = child_link.description | replace: '<p>', '' | replace: '</p>', '' %}
  							  {% if (contact_record[status].label == "Completed") or (contact_record[status].label == "Applied") or (contact_record[status].label == "Complete offline") %}
    								<a class="task-name" href="{{ child_link.url }}complete" aria-describedby="eligibility-completed">
    									{{ child_link.name }}
    								</a> 
    							{% else %}
    							  <a class="task-name" href="{{ child_link.url }}" aria-describedby="eligibility-completed">
    									{{ child_link.name }}
    								</a>
    							{% endif %}
  								{% if contact_record[status].label != null and child_link.description != ""  %} 
  								  <strong class="task-completed" id="eligibility-completed">{{ contact_record[status].label }}</strong>
  								{% endif %}
  							</li>
  						{% endfor %}
  					</ul>
  				</li>
  			{% endfor %}
  		</ol>
  	</div>
  	<div class="column-third add-title-margin">
  		<aside class="govuk-related-items" role="complementary" style="margin-top: 0.1em;">
  			{% editable snippets "Task List/Sidebar/Header" %}
  			<nav role="navigation">
  				<ul style="font-size: 14px;">
  					{% for sidelink in sidebar.weblinks %}
  						<li>
  							<a href="{{ sidelink.url }}">{{ sidelink.name }}</a>
  						</li>
  					{% endfor %}
  					<li>
                    <a href="{% if homeurl%}/{{ homeurl }}{% endif %}{{ website.sign_out_url_substitution }}" title="{% editable  snippets"links/logout" | default:resx["Sign_Out"] | escape %}">
                      {% editable snippets "links/logout" | default:resx["Sign_Out"] | escape %}
                    </a>
                  </li>
  				</ul>
  				{% if params["debug"] == "true" %}
  				  <hr/>
  				  <div id="debug-info" style="font-size: 14px">
  				    <ul class="list list-bullet">
  				      <li>Journey Type: {{ contact_record["j.fco_journeytype"].label }}</li>
  				      <li>Name: {{ user["fullname"] }}</li>
  				      <li>User ID: {{ user["contactid"] }}</li>
  				    </ul>
  				  </div>
  				{% endif %}
  			</nav>
  		</aside>
  	</div>
  </div>
</main>

<style>
  .not-cleared-to-travel {
    border: 5px solid #b58840;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px 15px;
  }
  
  .cleared-to-travel {
    border: 5px solid #005ea5;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px 15px;
  }
  
  .pending-clearance {
    background-color: #b58840;
    text-decoration: none;
  }
  
  .fcomp-cleared {
    text-decoration: none;
  }
  
  .not-started {
    background-color: #DEE0E2;
    color: #000000;
    
  }
</style>