@import "../node_modules/govuk-frontend/govuk/all";

// TODO - also need to bring in Task List and Step-by-step patterns
// https://github.com/alphagov/govuk-prototype-kit/tree/master/app/assets/sass/patterns

// Extends govuk-frontend for Power Apps Portals-specific elements
// Avoid writing any new class here, prefer extending govuk-frontend to ease upgrade paths

.form-control{
  @extend .govuk-input;
}

.tab-column {
  float: none !important;
}

.validators {
  span {
    display: none !important;
  }
}

#UpdateButton {
  @extend .govuk-button;
}

#InsertButton {
  @extend .govuk-button;
}

.text{
  @extend .govuk-input--width-20;
}

.integer {
  @extend .govuk-input--width-5;
}

.picklist {
  @extend .govuk-input--width-20;
}

.datetimepicker {
  input {
    @extend .govuk-input--width-10;
  }
  span {
    display: none;
  };
}

body {
  @extend .govuk-template__body;
}

.govuk-heading-xl {
  margin-bottom: 25px;
}

label {
  @extend .govuk-label;
  @extend  .govuk-label--s;
}

.crmEntityFormView .cell div.info.required label:after {
  content: none;
}

.description {
  @extend .govuk-fieldset__legend;
}

select {
  @extend .govuk-select;
  appearance: auto !important;
}

.crmEntityFormView {
  .actions {
    border-top: none !important;
  }

  .cell {
    padding: 0 0 28px;
  }

  .tab-title {
    display: none;
  }

  .fieldset {
    border: none;
  }
}

.form-control-cell {
  @extend .govuk-form-group;
}

.boolean-radio-cell {
  .control {
    @extend .govuk-radios--inline;
    margin-top: 5px;
  }

  .boolean-radio {
    input {
      @extend .govuk-radios__input;
    }

    label {
      @extend .govuk-radios__label;
    }
  }
}

.picklist-cell {
  .control {
    margin-top: 5px;

    input {
      @extend .govuk-radios__input;
    }

    label {
      @extend .govuk-radios__label;
    }
  }
}

.validation-summary {
  @extend .govuk-error-summary;

  .validation-header {
    @extend .govuk-error-summary__title;

    span {
      display: none;
    }
  }

  ul {
    @extend .govuk-list;
    @extend .govuk-error-summary__list;
  }
}


