<div class="govuk-width-container ">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-column-two-thirds">
            <!-- h1, lede and copy -->
            {% block headerblock %}{% endblock %}
            <!-- forms and assets -->
            {% block mainblock %}{% endblock %}
            <!-- entity form -->
            {% block entityformblock %}{% endblock %}

            <!--
                Use this block when creating custom web templates that require extra
                content below the usual form and buttons
             -->
            {% block customblock %}{% endblock %}
        </div>
    </main>
</div>