input[value="Save and return to task list"] {
    background:none!important;
    border:none; 
    padding:0!important;
    cursor:pointer;
    color:#069;
    box-shadow: none;
    width: 450px;
    text-align: left;
}

input[value="Save and return to task list"]:hover {
  color:#069;
  text-decoration:underline;
}